- name: Upgrade apt
  apt: upgrade=yes
  when: package_upgrade
  become: true

- name: Install apt packages
  apt:
    name: "{{ item }}"
    update_cache: true
  become: true
  loop: "{{ packages }}"

- name: Remove apt packages
  apt:
    name: "{{ item }}"
    update_cache: true
    state: absent
  become: true
  loop: "{{ remove_packages }}"

- name: Install dpkg packages
  apt:
    deb: "{{ item }}"
  become: true
  loop: "{{ dpkg }}"
