package_upgrade: true
packages:
  - ansible
  - curl
  - htop
  - jq
  - xz-utils
  - fzf
  - python3
  - python3-pip
  - luajit

remove_packages:
  - vim

dpkg_versions:
  bat: 0.18.1
  fd: 8.2.1
  ripgrep: 13.0.0
  delta: 0.8.0
  duf: 0.6.2
  bottom: 0.6.1

dpkg:
  - "https://github.com/sharkdp/bat/releases/download/v{{ dpkg_versions.bat }}/bat_{{ dpkg_versions.bat }}_amd64.deb"
  - "https://github.com/sharkdp/fd/releases/download/v{{ dpkg_versions.fd }}/fd_{{ dpkg_versions.fd }}_amd64.deb"
  - "https://github.com/BurntSushi/ripgrep/releases/download/{{ dpkg_versions.ripgrep }}/ripgrep_{{ dpkg_versions.ripgrep }}_amd64.deb"
  - "https://github.com/dandavison/delta/releases/download/{{ dpkg_versions.delta }}/git-delta_{{ dpkg_versions.delta }}_amd64.deb"
  - "https://github.com/muesli/duf/releases/download/v{{ dpkg_versions.duf }}/duf_{{ dpkg_versions.duf }}_linux_amd64.deb"
  - "https://github.com/ClementTsang/bottom/releases/download/{{ dpkg_versions.bottom }}/bottom_{{ dpkg_versions.bottom }}_amd64.deb"
