package_upgrade: true
packages:
  - ansible
  - curl
  - htop
  - jq
  - xz-utils
  - fzf
  - neovim

remove_packages:
  - vim

dpkg:
  - https://github.com/sharkdp/bat/releases/download/v0.15.0/bat_0.15.0_amd64.deb
  - https://github.com/sharkdp/fd/releases/download/v8.0.0/fd_8.0.0_amd64.deb
